{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Your shopping cart
{% endblock title %}

{% block content %}
<h1>Your shopping cart</h1>
<table class="container">
    <thead>
        <tr class="row text-center">
            <th class="col">Image</th>
            <th class="col">Product</th>
            <th class="col">Quantity</th>
            <th class="col">Remove</th>
            <th class="col">Unit price</th>
            <th class="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr class="row text-center">
            <td class="col">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}
                        {{ product.image.url }}
                    {% else %}
                        {% static 'img/no_image.png' %}
                    {% endif %}" class="shop-img">
                </a>
            </td>
            <td class="col">{{ product.name }}</td>
            <td class="col">
                <form action="{% url 'cart:cart_add' product.id %}" method="post" class="d-flex align-items-center justify-content-between">
                    {% csrf_token %}
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <input type="submit" value="Update" class="form-control bg-info mx-2">
                </form>
            </td>
            <td class="col">
                <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Remove" class="form-control bg-danger w-75" style="margin: 0 auto">
                </form>
            </td>
            <td class="col">${{ item.price }}</td>
            <td class="col">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}

        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td>${{ cart.get_total_price }}</td>
        </tr>

    </tbody>
</table>

<p>
    <a href="{% url 'shop:product_list' %}" class="btn btn-primary m-3">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-outline-secondary">Checkout</a>
</p>
{% endblock content %}