{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <div class="main-content">
        <div class="header">
            <div class="header-links">
                <a href="#" class="active">Home</a>
                <a href="#">Services</a>
                <a href="#">About</a>
                <a href="#">Contact Us</a>
            </div>

            <div>
                {% with total_items=cart|length  %}

                {% if total_items > 0 %}
                Your cart:
                <a href="{% url 'cart:cart_detail' %}" id="cart">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                </a>
                {% else %}
                Your cart is empty
                {% endif %}

                {% endwith %}
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <div class="footer">

    </div>

</body>

</html>